body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}



.partie1{
    background-color: black;
    width: 1261px;
    height: 70px;
} 

.fa-caret-down{
    color: orangered;
    font-size: 15px;
}


.nav{
    font-size: 10px;
    top: 50px;
    display: flex;
    color: white;
    margin-right: 0;
    margin-top: 0;
}

.barre{
    max-width: 900px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    font-size: 10px;
    /* margin-left: 450px; */
    /* padding-bottom: 20px; */
    gap: 10px;
    color: white;
}

.tete{
    display: flex;
    margin-left: 160px;
    gap: 25px;
}


            /*fin de la premiere nav*/



.timeline{
    background-color: white;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    /* margin-left: 320px; */
    padding-top: 30px;
    font-size: 10x;
    gap: 15px;
}

.image img{
    width: 130px;
    height: 135px;
    margin-top: -150px;
    margin-left: 40px; 
}

.fa-magnifying-glass{
    margin-left: 170px;
}

            /*fin de la deuxieme nav*/


.partie2{
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -4px;
    width: 1261;
    
}

.photo{
    width: 50%;
    margin-left: 595px;
    padding-top: 80px;
}

.photo img{
    width: 80px;
    height: 80px;
}

h1{
    color: white;
    justify-content: center;
    padding-top: 50px;
    margin-left: 280px;
    font-size: 50px;
}

P2{
    color: rgb(196, 191, 191);
    margin-left: 400px;
}

p3{
    color: white;
    border: 1px solid white;
    padding-left: 25px;
    margin-top: 40px;
    margin-left: 560px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10px;
    padding-right: 25px;
}

.progress{
    width: 60px;
    height: 3px;
    background-color: darkorange;
    margin-top: 60px;
    margin-left: 610px;
    border-radius: 5px 5px 5px 5px;
} 


            /*fin de la  deuxieme partie*/
         
            


.partie3{
    display: flex;
    background-color: rgb(209, 207, 207);
    height: 429px;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    
  
}


.tof{
    width: 50%;
    margin-left: 300px;
    justify-content: center;
    margin-top: -80px; 

}



.tof img{
    width: 380px;
    height: 250px;
}


.chaus{
    width: 50%;
    margin-right: 300px; 
    margin-top: -80px;
}

.chaus img{
    width: 380px;
    height: 250px;
}
 
legend{
    color: white;
}


fieldset{
    margin-left: 40px;
    height: 200px;
    z-index: 1;
    position: relative;
    bottom: 250px;
    right: 5%;
    border: 3px solid white;
    box-shadow: rgba(5px, 5px, 5px, 0,6);
}  


h2{
    display: flex;
    color: black;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -990px;
    left: 20%;
}


            /*fin de la derniere partie*/



@media screen and (min-width: 412px){
    .timeline{
        margin-left: 200px;
        gap: 60px;
    }

    .partie2{
        background: url(background.jpg);
        background-size: 100%;
        width: 1270px;
        height: 1100px;
        background-repeat: no-repeat;  
    } 

    .partie3{
        width: 1270px;
        height: 1780px;
        margin-top: -200px;
        
    }

    .tof{
        width: 50%;
        margin-left: 300px;
        justify-content: center;
        margin-top: -1350px; 
    
    }

    .chaus{
        width: 50%;
        margin-right: 300px; 
        margin-top: -1350px;
    }
    

    h2{
        display: flex;
        color: black;
        font-size: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 9000px;
        left: 150%;
    }
    
    

}








@media screen and (min-width: 1648px) {

    .partie1{
        width: 1640px;
    }
    


    .timeline{
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 370px;
        gap: 60px;
    }

    .partie2{
        background: url(background.jpg);
        background-size: 100%;
        width: 1640px;
        background-repeat: no-repeat;  
    } 

    .photo{
        width: 50%;
        margin-left: 800px;
        padding-top: 80px;
    }
    

    h1{
       
        padding-top: 50px;
        margin-left: 450px;
        font-size: 50px;
    }
    
    P2{
        color: rgb(196, 191, 191);
        margin-left: 550px;
    }
    
    p3{
        color: white;
        border: 1px solid white;
        padding-left: 25px;
        margin-top: 40px;
        margin-left: 780px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 10px;
        padding-right: 25px;
    }
    
    .progress{
        width: 60px;
        height: 3px;
        background-color: darkorange;
        margin-top: 60px;
        margin-left: 800px;
        border-radius: 5px 5px 5px 5px;
    } 
    

    .partie3{
        width: 1640px;
    } 

    
    .tof{
        width: 50%;
        margin-left: 500px;
        justify-content: center;
        margin-top: -80px; 
    
    }
    
    
    .tof img{
        width: 380px;
        height: 250px;
    }
    
    
    .chaus{
        width: 50%;
        margin-right: 500px; 
        margin-top: -80px;
    }
    
    .chaus img{
        width: 380px;
        height: 250px;
    }
     
    legend{
        color: white;
    }
    
    
    fieldset{
        margin-left: 40px;
        height: 200px;
        z-index: 1;
        position: relative;
        bottom: 250px;
        right: 5%;
        border: 3px solid white;
        box-shadow: rgba(5px, 5px, 5px, 0,6);
    }  

}
